.loginOut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loginIn {
  width: 25vw;
  min-width: 300px;
  box-shadow: 0 0 20px gray;
  border-radius: 16px;
  /* 上 右 下 左*/
  padding: 50px 50px 10px 50px;
}