.loginOut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../../image/login-background.jpg');
}

.loginIn {
  width: 360px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 10%);
  border-radius: 16px;
  background-color: rgb(255,255,255,90%);
  /* 上 右 下 左*/
  padding: 50px 50px 10px 50px;
}